/* comment.component.css */

.comment-container {
    margin-top: 20px;
    background-color: #f9f9f9; /* Svijetla pozadina za komentare */
    padding: 15px;
    border-radius: 5px; /* Zaobljeni kutovi */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Blaga sjena */
}

.comment-item {
    margin-bottom: 10px; /* Razmak između komentara */
}
