<div class="container mt-4"> <!-- Dodajemo klasu za marginu od vrha -->
  <h1 class="mb-4">Moji Postovi</h1>
  <div class="post-list">
    <!-- Ovdje se prikazuju postovi -->
    <ul class="list-group"> <!-- Koristimo Bootstrap list-group -->
      <li *ngFor="let post of posts" class="list-group-item"> <!-- Dodajemo klasu list-group-item -->
        <h3 class="post-title">{{ post.title }}</h3> <!-- Dodajemo klasu za naslov -->
        <p class="post-content">{{ post.content }}</p> <!-- Dodajemo klasu za sadržaj -->
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-primary" (click)="likePost(post.id)">Lajkuj</button> <!-- Dodaj gumb za lajk -->
          <span class="badge bg-secondary ms-2">{{ post.likes || 0 }} Lajkova</span> <!-- Prikaz broja lajkova -->
          <button class="btn btn-warning" (click)="navigateToEditPost(post.id)">Izmijeni</button>
          <button class="btn btn-danger" (click)="deletePost(post.id)">Obriši</button>
        </div>
        
        <!-- Uključi komponentu za komentare ovdje -->
        <app-comment [postId]="post.id"></app-comment>
      </li>
    </ul>
  </div>

  <!-- Gumb za dodavanje novog posta -->
  <button class="btn btn-success mt-3" (click)="navigateToAddPost()">Dodaj novi post</button>
</div>
