<div class="post-list">
  <!-- Ovdje se prikazuju postovi -->
  <ul>
    <li *ngFor="let post of posts">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <button (click)="likePost(post.id)">Lajkuj</button> <!-- Dodaj gumb za lajk -->
      <span>{{ post.likes?.length || 0 }} Lajkova</span> <!-- Prikaz broja lajkova -->
      <button (click)="navigateToEditPost(post.id)">Izmijeni</button>
      <button (click)="deletePost(post.id)">Obriši</button>

      <!-- Uključi komponentu za komentare ovdje -->
      <app-comment [postId]="post.id"></app-comment>
    </li>
  </ul>

  <!-- Gumb za dodavanje novog posta -->
  <button (click)="navigateToAddPost()">Dodaj novi post</button>
</div>
