<div class="container mt-4">
  <h1 class="moji-postovi">Moji Postovi</h1>
  <div class="post-list row row-cols-1 row-cols-md-2 g-4"> <!-- Kartični raspored s Bootstrap grid klasama -->
    <!-- Ovdje se prikazuju postovi -->
    <div *ngFor="let post of posts" class="col"> <!-- Koristimo kartice za postove -->
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h3 class="card-title">{{ post.title }}</h3> <!-- Naslov posta -->
          <p class="card-text">{{ post.content }}</p> <!-- Sadržaj posta -->
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div>
            <button class="btn btn-primary btn-sm" (click)="likePost(post.id)">Like</button> <!-- Gumb za lajk -->
            <span class="badge bg-secondary ms-2">{{ post.likes || 0 }} Lajkova</span> <!-- Prikaz broja lajkova -->
          </div>
          <div>
            <button class="btn btn-warning btn-sm me-2" (click)="navigateToEditPost(post.id)">Izmijeni</button>
            <button class="btn btn-danger btn-sm" (click)="deletePost(post.id)">Obriši</button>
          </div>
        </div>
        
        <!-- Komponenta za komentare -->
        <div class="card-body">
          <app-comment [postId]="post.id"></app-comment>
        </div>
      </div>
    </div>
  </div>

  <!-- Gumb za dodavanje novog posta -->
  <button class="btn btn-success mt-4" (click)="navigateToAddPost()">Dodaj novi post</button>
</div>
